In [1]:
import pandas_datareader as pdr
import matplotlib.pyplot as plt

In [2]:
# 获取 alibaba 股票信息
alibaba = pdr.get_data_yahoo('BABA')

In [8]:
alibaba.shape

(1066, 6)

In [3]:
alibaba.describe() # 基本统计信息

,High,Low,Open,Close,Volume,Adj Close
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,143.072923,139.615778,141.463369,141.377832,1.680998e+07,141.377832
std,48.732859,47.617872,48.256866,48.192864,9.100783e+06,48.192864
min,58.650002,57.200001,57.299999,57.389999,3.775300e+06,57.389999
25%,91.570000,89.535000,90.514999,90.510002,1.099705e+07,90.510002
50%,158.050003,153.100006,155.470001,155.970001,1.481240e+07,155.970001
75%,183.610001,179.125000,181.254997,181.409996,2.003585e+07,181.409996
max,231.139999,227.039993,230.050003,230.479996,9.791410e+07,230.479996

In [4]:
alibaba.info() # 基本统计信息

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2015-06-01 to 2020-05-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1259 non-null   float64
 1   Low        1259 non-null   float64
 2   Open       1259 non-null   float64
 3   Close      1259 non-null   float64
 4   Volume     1259 non-null   int64
 5   Adj Close  1259 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 68.9 KB